@import "../../_sass/sizes";
@import "../../_sass/colors";

.container {
  position: relative;
  min-height: 512px;

  .info {
    padding: 24px;

    background-image: linear-gradient(to right, $color-black, $color-grey-dark);

    p {
      font-size: $fs-small;
      color: $color-white;
    }

    svg {
      width: 20px;
      height: 20px;
    }

    > div > p:first-child {
      margin: 24px 0 8px;
      font-weight: 700;
    }
  }

  .pag {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    margin-top: 24px;

    .num {
      cursor: pointer;
      padding: 4px;
      margin: 0 12px;

      font-size: $fs-med;
      font-weight: 700;

      &:hover {
        opacity: 0.9;
      }

      &:active {
        opacity: 0.8;
      }
    }
  }
}
