@import "../../styles/_sass/sizes";
@import "../../styles/_sass/colors";
@import "../../styles/_sass/breakpoints";
@import "../../styles/_sass/mixins";

.container {
  .about {
    position: relative;

    width: 720px;
    padding: 48px 48px 60px;
    margin: 96px auto;

    text-align: center;

    color: $color-white;

    h2 {
      margin-bottom: 24px;

      font-size: $fs-big;
      font-weight: 600;

      text-align: center;
    }

    p {
      font-size: $fs-med;
    }

    span {
      display: block;

      position: absolute;
      z-index: -1;
      top: 0;
      bottom: 0;
      left: -5%;
      right: -5%;

      transform: skewX(-16deg);

      @include backgroundGradient();

      @include bp-tablet {
        transform: skewX(0deg);
      }
    }

    @media screen and (max-width: 800px) {
      width: 680px;
    }

    @include bp-tablet {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
  }

  .wip {
    margin: 96px auto;

    text-align: center;
    font-size: 6.4rem;
  }
}
