@import "../../styles/_sass/sizes";
@import "../../styles/_sass/colors";
@import "../../styles/_sass/breakpoints";

.container {
  .about {
    position: relative;
    padding: 48px 0 60px;
    margin: 96px 0;

    text-align: justify;

    color: $color-white;

    h2 {
      margin-bottom: 24px;

      font-size: $fs-big;
      font-weight: 600;

      text-align: center;
    }

    p {
      font-size: $fs-med;
    }

    span {
      display: block;

      position: absolute;
      z-index: -1;
      top: 0;
      bottom: 0;
      left: -42px;
      right: -42px;

      transform: skewX(-16deg);

      background-image: linear-gradient(
        to right,
        $color-black,
        $color-grey-dark
      );

      @include bp-tablet {
        transform: skewX(0deg);
      }
    }
  }
}
