@import "../_sass/sizes";
@import "../_sass/colors";

.container {
  overflow: hidden;

  position: relative;
  max-height: 35px;

  border-bottom: 4px solid $color-black;
  transition: max-height 0.5s;

  .title {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;
    z-index: 2;

    padding: 6px 0;
    background-color: $color-white;

    border-bottom: 4px solid $color-black;

    &:hover {
      h3,
      span {
        opacity: 0.9;
      }
    }

    &:active {
      h3,
      span {
        opacity: 0.8;
      }
    }

    h3 {
      font-size: $fs-small;
      font-weight: 800;
    }

    span {
      display: block;
      width: 0;
      height: 0;

      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-top: 12px solid $color-black;

      transition: transform 0.5s;
    }
  }

  .arrow {
    display: block;

    position: absolute;
    z-index: 1;

    width: 0;
    height: 0;

    &-up-l,
    &-down-l {
      left: 0;
      transform: translateX(-50%);
    }

    &-up-r,
    &-down-r {
      left: 100%;
      transform: translateX(-50%);
    }

    &-up-l,
    &-up-r {
      top: 34px;

      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-top: 12px solid $color-black;
    }

    &-down-l,
    &-down-r {
      top: calc(100% - 11px);

      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-bottom: 12px solid $color-black;
    }
  }
}

.open {
  max-height: 200px;

  .title span {
    transform: rotate3d(1, 0, 0, 180deg);
  }
}
