@import "../../styles/_sass/colors";
@import "../../styles/_sass/sizes";
@import "../../styles/_sass/breakpoints";
@import "../../styles/_sass/mixins";

.container {
  position: relative;
  color: $color-white;

  .content {
    display: grid;
    grid-template-columns: 1fr max-content;
    padding: 48px 0;

    .info {
      width: 100%;

      h4 {
        margin-bottom: 24px;
        font-size: $fs-big;
        font-weight: 600;
      }

      p {
        margin-bottom: 12px;
        font-size: $fs-med;
      }

      a {
        cursor: pointer;
        text-decoration: underline;
      }
    }

    .qr {
      width: 240px;
      height: 240px;
      background-color: $color-white;
    }

    .thanks {
      grid-column: span 2;

      width: 100%;
      margin-top: 48px;

      text-align: center;

      h6 {
        font-size: $fs-med;
        font-weight: 600;
      }
    }

    @include bp-tablet {
      grid-template-columns: 1fr;

      .qr {
        margin: 24px auto 0;
      }

      .thanks {
        grid-column: span 1;
      }
    }
  }

  .background {
    display: block;

    position: absolute;
    bottom: 0;
    z-index: -1;
    left: -60px;

    width: calc(100% + 120px);
    height: 100%;

    @include backgroundGradient();

    @include bp-med {
      width: calc(100% + 10vw);
      left: -5vw;
    }
  }

  .dec {
    &-l-1,
    &-l-2,
    &-l-3,
    &-l-4,
    &-r-1,
    &-r-2,
    &-r-3,
    &-r-4 {
      display: block;
      position: absolute;

      background-color: $color-white;

      @include bp-tablet {
        display: none;
      }
    }

    &-l-1,
    &-l-2,
    &-l-3,
    &-l-4 {
      left: -60px;

      @include bp-med {
        left: -5vw;
      }
    }

    &-r-1,
    &-r-2,
    &-r-3,
    &-r-4 {
      right: -60px;

      @include bp-med {
        right: -5vw;
      }
    }
  }

  .dec-l-1 {
    top: 8%;
    width: 28px;
    height: 48px;

    @include bp-med {
      width: 3%;
    }
  }

  .dec-l-2 {
    top: 36%;
    width: 12px;
    height: 24px;

    @include bp-med {
      width: 1%;
    }
  }

  .dec-l-3 {
    top: 60%;
    width: 22px;
    height: 32px;

    @include bp-med {
      width: 2%;
    }
  }

  .dec-l-4 {
    top: 82%;
    width: 26px;
    height: 16px;

    @include bp-med {
      width: 3%;
    }
  }

  .dec-r-1 {
    top: 12%;
    width: 18px;
    height: 20px;

    @include bp-med {
      width: 2%;
    }
  }

  .dec-r-2 {
    top: 34%;
    width: 24px;
    height: 42px;

    @include bp-med {
      width: 3%;
    }
  }

  .dec-r-3 {
    top: 60%;
    width: 12px;
    height: 26px;

    @include bp-med {
      width: 1%;
    }
  }

  .dec-r-4 {
    top: 80%;
    width: 26px;
    height: 38px;

    @include bp-med {
      width: 3%;
    }
  }
}
