@import "../../styles/_sass/sizes";
@import "../../styles/_sass/breakpoints";

.container {
  .flex-container {
    display: flex;
    align-items: center;
  }

  .title {
    width: 100%;

    h1 {
      font-size: $fs-biggest;
      font-weight: 600;
    }

    p {
      font-size: $fs-med;
      font-weight: 500;
    }
  }

  .img-box {
    max-height: 480px;
    min-height: 360px;
    height: 60vh;
    width: 100%;
    background-color: red;
  }
}
