@import "../_sass/colors";

.container {
  position: relative;
  left: -5vw;

  width: calc(100% + 10vw);
  height: 6px;

  .top {
    display: block;

    position: relative;
    z-index: 1;

    height: 100%;
    width: 100%;

    background-color: $color-black;
  }

  .bot {
    display: block;

    position: absolute;
    top: 4px;
    left: -4px;

    height: 100%;
    width: 100%;

    background-color: red;
  }
}
