@import "../_sass/sizes";
@import "../_sass/colors";

.container {
  margin: 96px 0;

  h2 {
    margin-bottom: 48px;

    font-size: $fs-bigger;
    font-weight: 700;
  }

  .projects {
    .tabs {
      display: flex;
      margin: 24px 0;

      .fav,
      .rest {
        position: relative;

        width: 100%;
        padding: 8px;
        margin: 18px 18px 36px;
      }
    }

    .list {
    }
  }
}
