@import "../_sass/sizes";
@import "../_sass/colors";
@import "../_sass/mixins";
@import "../_sass/breakpoints";

.container {
  .items {
    overflow-y: auto;
    scrollbar-width: thin;

    display: grid;
    gap: 2px;
    grid-template-columns: repeat(6, 1fr);

    max-height: 168px;

    @include backgroundGradient();

    @include bp-small {
      grid-template-columns: repeat(5, 1fr);
    }

    @include bp-tablet {
      grid-template-columns: repeat(3, 1fr);
    }

    @include bp-mobile {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
