@import "../_sass/colors";
@import "../_sass/sizes";

.container {
  .tabs {
    display: flex;
    justify-content: center;
    padding-bottom: 8px;

    border-bottom: 4px solid $color-black;

    h3,
    p {
      font-size: $fs-med;
      font-weight: 700;
    }

    :nth-child(2) {
      width: 100%;
      text-align: center;
    }

    :nth-child(3) {
      text-align: right;
    }
  }
}
