// ------------------------------------------------------------------ //
// -------------------------- Screen Sizes -------------------------- //
// ------------------------------------------------------------------ //

$ss-big: 1920px;
$ss-med: 1280px;
$ss-small: 1024px;
$ss-tablet: 768px;
$ss-mobile: 480px;

// ------------------------------------------------------------------ //
// --------------------------- Font Sizes --------------------------- //
// ------------------------------------------------------------------ //

$fs-biggest: 4.2rem;
$fs-bigger: 3.4rem;
$fs-big: 2.8rem;
$fs-med: 2rem;
$fs-small: 1.4rem;
